<body *ngIf="isExternal" class="bgExternal">
    <div class="pisheaderExternal title">
        Display Under Maintenance
    </div>
</body>

<body *ngIf="!isExternal" class="bgInternal">
    <div class="pisheader title">
        Display Under Maintenance
    </div>
</body>