.bgExternal {
    margin: 0px 0px;
    height: 100%;
    background-image: url('../../assets/img/home.jpg');  
    color: black;
}

.bgInternal {
    margin: 0px 0px;
    height: 100%;
    background-image: url('../../assets/img/background.png');  
    color: white;
}

.title {
    font-size: 150px;    
    line-height: 130px;   
    text-align: center;
    font-weight: bolder;
}

.pisheader {
     padding-top: 200px; 
}

.pisheaderExternal {
     padding-top: 400px; 
}