<body>
    <div class="pisheader">&nbsp;</div>
    <div class="pisdate">
        <div class="col-lg-6 col-md-6">
            <span class="text-center">{{ whatTime | async | date: 'EEE dd-MM-yy' }} </span>
        </div>
        <div class="col-lg-6 col-md-6">
            <span class="text-center">{{ whatTime | async | date: 'hh:mm:ss a' }} </span>

        </div>
    </div>
    <div class="piscontentheader">&nbsp;</div>
    <div class="piscontent" *ngFor="let timetable of timetables">
        <div class="col-lg-6 col-md-6">
            <!-- {{ location}} -->
            <span *ngIf="!isPRTU" class="text-center">{{ timetable.FerryRoute.departure_a }} </span>
            <span *ngIf="isPRTU" class="text-center">{{ timetable.FerryRoute.departure_b }} </span>
        </div>
        <div class="col-lg-6 col-md-6">
            <span class="text-center">
            <span *ngIf="timetable.FerryRoute.isOnTime" class="ontime">ON TIME</span>
            <span *ngIf="!timetable.FerryRoute.isOnTime" class="delay blink_me">DELAY</span>
            </span>
        </div>
    </div>
    <div class="pismarqueeheader">&nbsp;</div>
    <div *ngIf="isSingleData" class="isSingleData">&nbsp;</div>
    <marquee behavior=scroll direction="left" scrollamount="15">
        <span *ngFor="let msg of marquees" class="pismarquee"> 
        {{ msg.Node.body }} &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    </marquee>
</body>