body {
        background-image: url('../../assets/img/background.png');  
}
    
div.pisheader {
     padding-top: 8vh; 
}
div.piscontentheader {
     padding-top: 22vh; 
}
div.pismarqueeheader {
     padding-top: 10vh; 
}
.pisdate {
    font-weight: bolder;
    color: yellow;
    /* line-height: 50px;   */
    font-size: 6vw;
}
.piscontent {
    padding-top: 7vh; 
    padding-bottom: 10vh; 
    font-weight: bolder;
    color: yellow;
    line-height: 4vh;   
    font-size: 8vw;
}
.isSingleData {
    padding-top: 4vh; 
    padding-bottom: 10vh; 
}

.pismarquee {
    height: 7vh;
    font-weight: bold; 
    color: white;
    font-size: 4vw;
}

.delay {
    color: #ff0101;
}

.ontime {
    color: #49fb35;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}