/* You can add global styles to this file, and also import other style files */

html, body {
			    margin: 0px 0px;
				height: 100%;
				background-repeat: no-repeat;
				background-size: contain;
			}