<body>
    <div class="pisheader">&nbsp;</div>
    <div class="pisdate">
        <div class="col-lg-3 col-md-3">
            <span class="text-center"> &nbsp;</span>
        </div>
        <div class="col-lg-9 col-md-9">
            <span class="text-center">
            {{ whatTime | async | date: 'EEE dd-MM-yy' }} 
            {{ whatTime | async | date: 'hh:mm:ss a' }} 
        </span>
        </div>
    </div>
    <div class="piscontent" *ngFor="let trip of routes">
        <div class="col-lg-6 col-md-6">
            <span *ngIf="location == 'PRTU'" class="title text-center">{{ trip.FerryRoute.departure_b  }} </span>
            <span *ngIf="location == 'PSAH'" class="title text-center">{{ trip.FerryRoute.departure_a  }} </span>
        </div>
        <div class="col-lg-6 col-md-6">
            <span *ngIf="trip.FerryRoute.isFull" class="title isFull text-center">FULL</span>
            <span *ngIf="!trip.FerryRoute.isFull" class="title isAvailable blink_me text-center">VACANT</span>
        </div>
    </div>
</body>