body {
    background-image: url('../../assets/img/ferry.png');  
}

.title {
    font-size: 10vw;
    text-align: center;
    font-weight: bolder;
    color: yellow;
}

div.pisheader {
     padding-top: 10vh; 
}

div.pisdate {
    padding-top:  2vh;  
    padding-bottom:  14vh;  
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
}
div.piscontent {
      padding-top:  8vh;  
      padding-bottom:  5vh;  
}

.isAvailable {
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    color: #49fb35;
}

.isFull {
    font-size: 8vw;
    font-weight: bolder;
    text-align: center;
    color: #ff0101;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}